# Core data science libraries
numpy
pandas
scipy

# Visualisation
matplotlib
seaborn

# Machine learning
scikit-learn
xgboost
lightgbm
catboost

# Saving and loading
joblib
dataframe_image

# Jupyter environment
jupyter
notebook
ipykernel
nbconvert

# Optional utility for progress bars
tqdm
